<div class="well well-lg">
    <h2>Help</h2>
    <pre style="white-space: pre-wrap; font-family: Verdana; font-size: 15px;">
        @if (Model != null)
        {
            @Model.text
        }
    </pre>
</div>
