
    <div class="well">

        @* styling *@
        Rozcestník: 
        <br />
        <a href="/legilex-fr">Legilex-fr</a>
        <br />
        <a href="/4EUPLUS-LEX">4EUPLUS-LEX</a>
    </div>

